.btn-dark {
  color: #fff;
  background-color: #123221;
  border-color: #0b1f15;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #040c08;
  border-color: #000000;
}
.btn-dark:hover {
  color: #fff;
  background-color: #040c08;
  border-color: #000000;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #040c08;
  border-color: #000000;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus {
  background-color: #123221;
  border-color: #0b1f15;
}
.btn-dark .badge {
  color: #123221;
  background-color: #fff;
}
.btn-yellow {
  color: #2d2d2d;
  background-color: #f4e218;
  border-color: #e7d50b;
}
.btn-yellow:focus,
.btn-yellow.focus {
  color: #2d2d2d;
  background-color: #cfbf0a;
  border-color: #6e6505;
}
.btn-yellow:hover {
  color: #2d2d2d;
  background-color: #cfbf0a;
  border-color: #ada008;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  color: #2d2d2d;
  background-color: #cfbf0a;
  border-color: #ada008;
}
.btn-yellow:active:hover,
.btn-yellow.active:hover,
.open > .dropdown-toggle.btn-yellow:hover,
.btn-yellow:active:focus,
.btn-yellow.active:focus,
.open > .dropdown-toggle.btn-yellow:focus,
.btn-yellow:active.focus,
.btn-yellow.active.focus,
.open > .dropdown-toggle.btn-yellow.focus {
  color: #2d2d2d;
  background-color: #ada008;
  border-color: #6e6505;
}
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  background-image: none;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus {
  background-color: #f4e218;
  border-color: #e7d50b;
}
.btn-yellow .badge {
  color: #f4e218;
  background-color: #2d2d2d;
}
.btn-orange {
  color: #2d2d2d;
  background-color: #eebc10;
  border-color: #d6a90e;
}
.btn-orange:focus,
.btn-orange.focus {
  color: #2d2d2d;
  background-color: #be960d;
  border-color: #5f4b06;
}
.btn-orange:hover {
  color: #2d2d2d;
  background-color: #be960d;
  border-color: #9d7c0b;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #2d2d2d;
  background-color: #be960d;
  border-color: #9d7c0b;
}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
  color: #2d2d2d;
  background-color: #9d7c0b;
  border-color: #5f4b06;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  background-image: none;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus {
  background-color: #eebc10;
  border-color: #d6a90e;
}
.btn-orange .badge {
  color: #eebc10;
  background-color: #2d2d2d;
}
.label-dark {
  background-color: #123221;
}
.label-dark[href]:hover,
.label-dark[href]:focus {
  background-color: #040c08;
}
