<style>
    #locSearch{
        width: 60%;
        max-width: 300px;
        border-radius:5px;
        margin: 15px auto;
    }

    #locSearch:focus{
        border-color: #e81e06;
    }
</style>
<div class="some-thing-to-show main-content" style="">
    <div class="row">
        <div class="col-xs-12">
            <div id="mylunbo" class="carousel main slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators slide">
                    <li data-target="#mylunbo" data-slide-to="0" class="active"></li>
                    <li data-target="#mylunbo" data-slide-to="1"></li>
                    <li data-target="#mylunbo" data-slide-to="2"></li>
                    <li data-target="#mylunbo" data-slide-to="3"></li>
                    <li data-target="#mylunbo" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/main_introduce_1.jpg" alt="a">
                        <div class="carousel-caption link-btn">
                            <h2>
                                RENT A <br>
                                TAXI OR CAR
                            </h2>
                            <p>With Flexible Hourly Rates</p>
                            <a href="#/our_services" class="btn btn-yellow ">FIND OUT MORE</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/main_introduce_2.png" alt="b">
                        <div class="carousel-caption link-btn">
                            <h2>
                                DRIVE MORE
                            </h2>
                            <p>
                                & Earn More Rebates<br>
                                <small class="hidden-xs">
                                    Driving with Taxi Share is flexible and rewarding, helping drivers meet<br>
                                    their career and financial goals.
                                </small>
                            </p>
                            <a href="#/our_services" class="btn btn-yellow ">FIND OUT MORE</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/main_introduce_3.png" alt="c">
                        <div class="carousel-caption link-btn">

                            <h2>
                                PRIVATE <br>CAR RENTAL <br>SERVICES
                            </h2>
                            <p>
                                Hassle-Free and Reliable
                            </p>
                            <a href="#/our_services" class="btn btn-yellow ">FIND OUT MORE</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/main_introduce_4.png" alt="d">
                        <div class="carousel-caption link-btn">
                            <h2>
                                SIGN UP NOW
                            </h2>
                            <p>
                                To Receive Exclusive Offers <br>
                                <small>$100 sign on credits and waiver of security deposit!</small>
                            </p>
                            <a href="#/signup_f/" class="btn btn-yellow ">SIGN UP NOW</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/main_introduce_5.jpg" alt="e">
                        <div class="carousel-caption link-btn">
                            <h2>
                                WE TAKE BETTER <br>CARE OF YOU
                            </h2>
                            <p>
                                Free Medical Consultation
                            </p>
                            <a href="#/our_services" class="btn btn-yellow ">FIND OUT MORE</a>
                        </div>
                    </div>
                </div>

                <!--Controls -->
                <a class="left carousel-control hidden-xs" data-target="#mylunbo" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control hidden-xs" data-target="#mylunbo" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="why-us-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="four-why-us-bg">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2 class="title text-center">Why Us?</h2>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <div style="border: 4px solid gold;width: 40px;margin: 10px auto">

                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-sm-6 item animate-box-left">
                                                <img src="img/affordable.png">
                                                <h3>Affordable</h3>
                                                <p>Low hourly rates from $5.80 per hour (min. 3 hours).</p>
                                            </div>
                                            <div class="col-sm-6 item animate-box-right">
                                                <img src="img/flexible.png">
                                                <h3>Flexible</h3>
                                                <p>Available anytime. No contract needed.</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 item animate-box-left" >
                                                <img src="img/convenient.png">
                                                <h3>Convenient</h3>
                                                <p>Multiple pick up locations islandwide for taxi collection &
                                                    return.</p>
                                            </div>
                                            <div class="col-sm-6  item animate-box-right">
                                                <img src="img/fullyequipped.png">
                                                <h3>Fully Equipped</h3>
                                                <p>24-hr Ops centre, call booking and cashless payment terminal.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="why-us-video-bg">
                                <div class="video-content">
                                    <div class="row">
                                        <div class="col-md-12 embed-responsive embed-responsive-16by9">

                                            <iframe src="https://www.youtube.com/embed/N7D5U1lT3iA"
                                                    width="100%" height="100%" frameborder="0"
                                                    style="border:0;padding:0 15px" allowfullscreen>

                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="how-it-work-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://www.youtube.com/embed/sQWfhnl__q8" >
                                <img class="hidden-md hidden-lg" src="img/holding mobile_bg.png" style="width: 100%" alt="pic_phone">
                                <img class="hidden-xs hidden-sm" src="img/holding mobile_bg.png" style="height: 437px" alt="pic_phone">
                                <!--<div class="hand-phone-video-bg animate-box-left">-->
                                    <!--<div hidden class="video-item">-->
                                        <!--<h3>HOW TO USE </h3>-->
                                        <!--<h2>-->
                                            <!--TAXI/CAR<br>-->
                                            <!--SHARE?-->
                                        <!--</h2>-->

                                        <!--<img src="img/watch_video_img.jpg" style="">-->

                                        <!--<a href="https://www.youtube.com/embed/sQWfhnl__q8" target="_blank" class="btn btn-warning ">WATCH VIDEO</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="how-it-ork">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2>HOW IT WORKS</h2>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <div style="border: 4px solid gold;width: 40px;margin: 10px auto">

                                        </div>
                                    </div>
                                </div>
                                <div class="row items-cotainer">
                                    <div class="col-md-3">
                                        <div class="how-it-work-item animate-box-right">
                                            <div class="how-it-work-item-cilcle">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                            <p class='step-label'>Register</p>
                                            <p class='step-paragraph'>Register as a SMRT TAXI SHARE Driver.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="how-it-work-item animate-box-right">
                                            <div class="how-it-work-item-cilcle">
                                                <i class="fa fa-hand-pointer-o"></i>
                                            </div>
                                            <p class='step-label'>Book</p>
                                            <p class='step-paragraph'>Book a taxi based on your preferred time and
                                                location.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="how-it-work-item animate-box-right">
                                            <div class="how-it-work-item-cilcle">
                                                <i class="fa fa-unlock"></i>
                                            </div>
                                            <p class='step-label'>Unlock & Drive</p>
                                            <p class='step-paragraph'>When you are at the taxi, unlock it through our
                                                web app and begin your trip.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="how-it-work-item animate-box-right">
                                            <div class="how-it-work-item-cilcle">
                                                <i class="fa fa-reply"></i>
                                            </div>
                                            <p class='step-label'>Return</p>
                                            <p class='step-paragraph'>Park the taxi back at the same location, lock the
                                                taxi and end your trip.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="margin-top-20 col-xs-12 text-center margin-bottom-10">
                                        <a href="#/signup_f/" class="btn btn-orange ">
                                            <b>SIGN UP NOW</b>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="location-number">
                <p class="animate-box-left">
                    607 TAXIS IN 603 LOCATIONS
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="location-bg">
                <div class="row calculator-rates">
                    <div class="col-md-12">
                        <div class="container">
                            <h4 class="box-header-title">Rates Calculator</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs time-select-type" style="border-bottom: 0px" role="tablist" id="#tab1">
                                        <li role="presentation" class="active">
                                            <a id="h" data-target="#hourly" aria-controls="hourly" role="tab" data-toggle="tab">
                                                Hourly
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a id="d"data-target="#daily" aria-controls="daily" role="tab" data-toggle="tab">
                                                Daily
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active fade in" style="background-color: inherit" id="hourly">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="searchCarForm1" class="searchbar" style="background:none;">
                                                <form id="searchPriceForm1">
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <div class="input-group controls input-append date form_date"
                                                                     data-date=""
                                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </div>
                                                                    <input ng-model="rateSearch.startDate" type="text"
                                                                           class="form-control datepicker"
                                                                           readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <select name="startTime" class="form-control"
                                                                        ng-model="rateSearch.startTime">
                                                                    <option value="0">Pick-up Time</option>
                                                                    <option ng-repeat="item in appContext.searchMsg.pickTime" value="{{item.Value}}">
                                                                        {{item.Time}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <select name="duration" class="form-control"
                                                                        ng-model="rateSearch.duration">
                                                                    <option value="0">Duration(hrs)</option>
                                                                    <option ng-repeat="item in appContext.searchMsg.durations"
                                                                            value="{{item.ID}}">
                                                                        {{item.Duration}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6">
                                                            <a ng-click="goToFleet_ratesWithId('ratesCalculator')" class="btn btn-block btn-warning">Get Rates
                                                            </a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" style="background-color: inherit" id="daily">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="searchCarForm2" class="searchbar" style="background:none;">
                                                <form id="searchPriceForm2">
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <div class="input-group controls input-append date form_date"
                                                                     data-date=""
                                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </div>
                                                                    <input ng-model="rateSearch.startDate" type="text"
                                                                           class="form-control datepicker"
                                                                           readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-xs-6">
                                                            <div class="form-group">
                                                                <select name="startTime" class="form-control"
                                                                        ng-model="rateSearch.startTime">
                                                                    <option value="0">Pick-up Time</option>
                                                                    <option ng-repeat="item in appContext.searchMsg.pickTime" value="{{item.Value}}">
                                                                        {{item.Time}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6">
                                                            <div class="form-group">
                                                                <div class="input-group controls input-append date form_date"
                                                                     data-date=""
                                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </div>
                                                                    <input ng-model="rateSearch.endDate" type="text"
                                                                           class="form-control datepicker"
                                                                           readonly>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-xs-6">
                                                            <div class="form-group">
                                                                <select name="startTime" class="form-control"
                                                                        ng-model="rateSearch.endTime">
                                                                    <option value="0">Pick-up Time</option>
                                                                    <option ng-repeat="item in appContext.searchMsg.pickTime" value="{{item.Value}}">
                                                                        {{item.Time}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-xs-12">
                                                            <a ng-click="goToFleet_ratesWithId('ratesCalculator')" class="btn btn-block btn-warning">Get Rates
                                                            </a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="position: relative">
                        <input id="locSearch" class="form-control" type="text" placeholder="Search your location">
                        <div id="map" style="height: 450px;width:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        function initMap() {
            var uluru = {lat: 1.3601603, lng: 103.8118753};


            var map = new google.maps.Map(document.getElementById('map'), {
                scrollwheel: false,
                center: uluru,
                zoom: 11,
                disableDefaultUI: true,
                // mapTypeId: google.maps.MapTypeId.ROADMAP
            });


            $.ajax({
                url: 'https://www.ucast.sg/Select/FrontQueryParkingSpace',
                async:true,
                type : "POST",
                dataType : "json",
                success: function(data){
                    var allInfoWindow = [];
                    $.each(data.Data,function(i,item){
                        var pickupLT = new google.maps.LatLng(item.Latitude, item.Longitude);
                        var infowindow;
                        var browseLink = '#/search/' + item.ID;
                        var contentString = addlocationinfo(item.Address,item.Address + '  '+ item.PostalCode, browseLink);
                        infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        allInfoWindow.push(infowindow);

                        var pickupMarker_109 = new google.maps.Marker({
                            icon: "https://maps.google.com/mapfiles/kml/pal4/icon15.png",
                            position: pickupLT,
                            title:item.Address,
                            map: map});
                        google.maps.event.addListener(pickupMarker_109, 'click', function(){
                            $.each(allInfoWindow,function (i,item) {
                                item.close();
                            });
                            infowindow.open(map, pickupMarker_109);
                        });


                    });
                }
            });

            var input = document.getElementById('locSearch');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(input);

            map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                console.log('开始初始化places');
                console.log(places);

                if (places.length == 0) return;

                // Clear out the old markers.
                markers.forEach(function(marker) {
                    marker.setMap(null);
                });
                markers = [];

                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                    markers.push(new google.maps.Marker({
                        map: map,
                        title: place.name,
                        position: place.geometry.location,
                    }));

                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });

                map.fitBounds(bounds);
                var zoom = map.getZoom();
                map.setZoom(zoom > 13 ? 13 : zoom);
            });
            function addlocationinfo(loc_name, loc_address, browse_link){
                var contentString =
                    '<div id="content" class="text-left info-mapbox">'+
                    '<h3 id="firstHeading" class="info-mapheader">'+ loc_name + '</h3>'+
                    '<div id="bodyContent" class="info-mapcontent">'+
                    '<p>'+ loc_address +'</p>'+
                    '<a class="btn btn-dark" href="' + browse_link + '">View</a>' +
                    '</div>'+
                    '</div>';
                return contentString;
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOG4cVPDLrOhF6EfwPUcDmnvJGT46qIcQ&libraries=places&callback=initMap">
    </script>

    <div class="row">
        <div class="col-md-12 text-center animate-box-left">
            <b style="font-size: 24px" class="">
                DO NOT HAVE YOUR <span style="color: #e81e06">LICENCE</span> YET?
            </b>
            <a href="#/our_services" class="">
                <img src="img/apply_online_pic.png" alt="">
            </a>
        </div>
    </div>



</div>



<script>
    $('.carousel').carousel({
        interval: 3000
    });
    $('.form_date').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: new Date()
    });
    $(function () {
        contentWayPoint();
        contentWayPointLeft();
        contentWayPointRight();
        contentWayPointPulse();
    });


    var contentWayPoint = function () {
        var i = 0;
        $('.animate-box').waypoint(function (direction) {
            if (direction === 'down' && !$(this.element).hasClass('animated')) {
                i++;
                $(this.element).addClass('item-animate');
                setTimeout(function () {
                    $('body .animate-box.item-animate').each(function (k) {
                        var el = $(this);
                        setTimeout(function () {
                            el.addClass(' animated  fadeInUp');
                            el.removeClass('item-animate');
                        }, k * 200, 'easeInOutExpo');
                    });
                }, 100);
            }
        }, {offset: '85%'});

    }
    var contentWayPointLeft = function () {
        var i = 0;
        $('.animate-box-left').waypoint(function (direction) {
            if (direction === 'down' && !$(this.element).hasClass('animated')) {
                i++;
                $(this.element).addClass('item-animate');
                setTimeout(function () {
                    $('body .animate-box-left.item-animate').each(function (k) {
                        var el = $(this);
                        setTimeout(function () {
                            el.addClass('fadeInLeft animated');
                            el.removeClass('item-animate');
                        }, k * 200, 'easeInOutExpo');
                    });
                }, 100);
            }
        }, {offset: '85%'});

    };
    var contentWayPointRight = function () {
        var i = 0;
        $('.animate-box-right').waypoint(function (direction) {
            if (direction === 'down' && !$(this.element).hasClass('animated')) {
                i++;
                $(this.element).addClass('item-animate');
                setTimeout(function () {
                    $('body .animate-box-right.item-animate').each(function (k) {
                        var el = $(this);
                        setTimeout(function () {
                            el.addClass('fadeInRight animated');
                            el.removeClass('item-animate');
                        }, k * 200, 'easeInOutExpo');
                    });
                }, 100);
            }
        }, {offset: '85%'});
    }
    var contentWayPointPulse = function () {
        var i = 0;
        $('.animate-box-pulse').waypoint(function (direction) {
            if (direction === 'down' && !$(this.element).hasClass('animated')) {
                i++;
                $(this.element).addClass('item-animate');
                setTimeout(function () {
                    $('body .animate-box-pulse.item-animate').each(function (k) {
                        var el = $(this);
                        setTimeout(function () {
                            el.addClass('pulse  animated');
                            el.removeClass('item-animate');
                        }, k * 200, 'easeInOutExpo');
                    });
                }, 100);
            }
        }, {offset: '85%'});
    }

</script>



