<!--注册表-->

<div class="sign-in">
    <div class="">
        <div class="step  container" style="background-color: rgba(255,255,255,0.9);">
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1 ">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="media active">
                                <div class="media-left">
                                    <a href="#/signup_f/{{signin_s.ReferralCode}}">
                                        <img class="media-object" src="img/1_red.png" alt="1">
                                    </a>
                                </div>
                                <div class="media-body hidden-xs hidden-sm">
                                    <h4 class="media-heading" style="margin-top: 10px">First Step</h4>
                                    <p>Basic Information</p>
                                </div>
                                <div class="media-right hidden-xs" >
                                    <a>
                                        <img class="media-object" src="img/next_red.png" alt="next">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 ">
                            <div class="media active">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/2_red.png" alt="2">
                                    </a>
                                </div>
                                <div class="media-body hidden-xs hidden-sm">
                                    <h4 class="media-heading" style="margin-top: 10px">Second Step</h4>
                                    <p>Personal Information</p>
                                </div>
                                <div class="media-right hidden-xs" >
                                    <a>
                                        <img class="media-object" src="img/next_red.png" alt="next">
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-4 ">
                            <div class="media ">
                                <div class="media-left">
                                    <a>
                                        <img class="media-object" src="img/3_grey.png" alt="3">
                                    </a>
                                </div>
                                <div class="media-body hidden-xs hidden-sm">
                                    <h4 class="media-heading" style="margin-top: 10px">Third Step</h4>
                                    <p>Assessment</p>
                                </div>
                                <div class="media-right hidden-xs" style="padding-left: 10px">
                                    <div style="width: 64px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div ng-show="!isConfirmSub" class="row">
                <div class="col-md-4">
                    <div class="sign-first-big-title"><h2>Personal Particular</h2></div>
                </div>
                <div class="col-md-8">
                    <div class="" id="sign-in-background">
                        <div class="row">
                            <div class="col-xs-12">
                                <div style="background: #FF0; color: #F00; padding: 5px; margin:5px 0; text-align:center;">Please note that it is an offence to drive without a valid TDVL. Click <a href="https://www.onemotoring.com.sg/content/onemotoring/en/lta_e_services/online_enquiries/vocational_licences.html" style="color:#0000EE; text-decoration:underline;" target="_blank">here</a> to check your TDVL expiry date.</div>
                            </div>
                        </div>

                        <div class="sign-in-body">
                            <div class="sign-in-content">

                                <form class="margin-top-25">
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--regist for-->
                                            <div class="form-group">
                                                <label for="LicenseType" class="sign-in-label">Whether you are
                                                    registering for</label>
                                                <select ng-model="signin_s.LicenseType" id="LicenseType" class="form-control">
                                                    <option ng-repeat="item in appContext.LicenseTypes" value="{{item.ID}}">{{item.CertificateTypeName}}</option>
                                                </select>
                                            </div>
                                            <!--regist for end-->
                                        </div>
                                        <div class="col-md-5  col-xs-12">
                                            <!--Salutation-->
                                            <div class="form-group">
                                                <label for="Salutation" class="sign-in-label">Salutation</label>
                                                <select ng-model="signin_s.Salutation" id="Salutation" class="form-control">
                                                    <option ng-repeat="item in appContext.Salutations" value="{{item.ID}}">{{item.Salutation}}</option>
                                                </select>
                                            </div>
                                            <!--Salutation end-->

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--Gender-->
                                            <div class="form-group">
                                                <label for="Gender" class="sign-in-label">Gender</label>
                                                <select ng-model="signin_s.Gender" id="Gender" class="form-control">
                                                    <option ng-repeat="item in appContext.Genders" value="{{item.ID}}">{{item.Gender}}</option>
                                                </select>
                                            </div>
                                            <!--Gender end-->
                                        </div>
                                        <div class="col-md-5 col-xs-12">
                                            <!--Nationality-->
                                            <div class="form-group">
                                                <label for="Nationality" class="sign-in-label" >Nationality</label>
                                                <select ng-model="signin_s.Nationality" id="Nationality" class="form-control">
                                                    <option ng-repeat="item in appContext.Nationalities" value="{{item.ID}}">{{item.Nationality}}</option>
                                                </select>
                                            </div>
                                            <!--Nationality end-->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--Race-->
                                            <div class="form-group">
                                                <label for="Race" class="sign-in-label">Race</label>
                                                <select ng-model="signin_s.Race" id="Race" class="form-control">
                                                    <option ng-repeat="item in appContext.Races" value="{{item.ID}}">{{item.Race}}</option>
                                                </select>
                                            </div>
                                            <!--Race end-->
                                        </div>
                                        <div class="col-md-5 col-xs-12">
                                            <!--Marital status-->
                                            <div class="form-group">
                                                <label for="MaritalStatus" class="sign-in-label">Marital Status</label>
                                                <select ng-model="signin_s.MaritalStatus" id="MaritalStatus" class="form-control">
                                                    <option ng-repeat="item in appContext.MaritalStatus" value="{{item.ID}}">{{item.MaritalStatus}}</option>
                                                </select>
                                            </div>
                                            <!--Marital status end-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--Education Level-->
                                            <div class="form-group">
                                                <label for="EducationLevel" class="sign-in-label">Education Level</label>
                                                <select ng-model="signin_s.EducationLevel" id="EducationLevel" class="form-control">
                                                    <option ng-repeat="item in appContext.EducationLevel" value="{{item.ID}}">{{item.EducationLevel}}</option>
                                                </select>
                                            </div>
                                            <!--Education Level end-->
                                        </div>
                                        <!--<div class="col-md-5 col-xs-12">-->
                                            <!--&lt;!&ndash;Block No.&ndash;&gt;-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="sign-in-label">Block No.</label>-->
                                                <!--<input ng-model="signin_s.BlockNo" type="text" class="form-control" id="BlockNo"-->
                                                       <!--required="required" placeholder="">-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash;Block No. end&ndash;&gt;-->
                                        <!--</div>-->
                                        <div class="col-md-5 col-xs-12">
                                            <!--Address-->
                                            <div class="form-group {{inputState.Address}}">
                                                <label for="Address" class="sign-in-label control-label">Address</label>
                                                <input ng-model="signin_s.Address" type="text" class="form-control" id="Address" autocomplete="off"
                                                       placeholder="">
                                            </div>
                                            <!--Address-->
                                            <div ng-if="inputState.Address == 'has-error' " style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.AddressMsg}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-5 col-md-offset-1 col-xs-12">-->
                                            <!--&lt;!&ndash;Storey&ndash;&gt;-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="sign-in-label">Storey</label>-->
                                                <!--<input ng-model="signin_s.Storey" type="text" class="form-control" id="Storey"-->
                                                       <!--required="required" placeholder="">-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash;Storey end&ndash;&gt;-->
                                        <!--</div>-->
                                        <!--<div class="col-md-5 col-xs-12">-->
                                            <!--&lt;!&ndash;Unit No.&ndash;&gt;-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="sign-in-label" >Unit No.</label>-->
                                                <!--<input ng-model="signin_s.UnitNo" type="text" class="form-control" id="UnitNo"-->
                                                       <!--required="required" placeholder="">-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash;Unit No. end&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="row">
                                        <!--<div class="col-md-5 col-md-offset-1 col-xs-12">-->
                                            <!--&lt;!&ndash;Street Name&ndash;&gt;-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="sign-in-label" >Street Name</label>-->
                                                <!--<input ng-model="signin_s.StreetName" type="text" class="form-control" id="StreetName"-->
                                                       <!--required="required" placeholder="">-->
                                            <!--</div>-->
                                            <!--&lt;!&ndash;Street Name end&ndash;&gt;-->
                                        <!--</div>-->
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--Postal Code-->
                                            <div class="form-group {{inputState.PostalCode}}">
                                                <label for="PostalCode" class="sign-in-label control-label" >Postal Code</label>
                                                <input ng-model="signin_s.PostalCode" type="text" class="form-control" id="PostalCode" autocomplete="off"
                                                       >
                                            </div>
                                            <div ng-if="inputState.PostalCode == 'has-error' " style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.PostalCodeMsg}}
                                            </div>
                                            <!--Postal Code end-->
                                        </div>
                                        <div class="col-md-5 col-xs-12">
                                            <!--Date of Birth-->
                                            <div class="form-group {{inputState.DateOfBirth}}">
                                                <label for="DateOfBirth" class="sign-in-label control-label">Date of Birth</label>

                                                <div class="input-group controls input-append date form_date" data-date=""
                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                    <input ng-model="signin_s.DateOfBirth" type="text" class="form-control datepicker" id="DateOfBirth" autocomplete="off"
                                                           placeholder="example:1990-01-01">
                                                </div>
                                            </div>
                                            <!--Date of Birth end-->
                                            <div ng-if="inputState.DateOfBirth == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.DateOfBirthMsg}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div  class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--Driving License Issue Date-->
                                            <div class="form-group {{inputState.LicenseIssueDate}}">
                                                <label for="LicenseIssueDate" class="sign-in-label control-label" >Driving License
                                                    Passed
                                                    Date</label>

                                                <div class="input-group controls input-append date form_date" data-date=""
                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                    <input ng-model="signin_s.LicenseIssueDate" type="text" class="form-control datepicker" id="LicenseIssueDate" autocomplete="off"
                                                           placeholder="example:1990-01-01">
                                                </div>

                                            </div>
                                            <!--Driving License Issue Date end-->
                                            <div ng-if="inputState.LicenseIssueDate == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.LicenseIssueDateMsg}}
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-xs-12">
                                            <!--TDVL First Issue Date-->
                                            <div class="form-group {{inputState.TVDLIssue}}">
                                                <label for="TVDLIssue" class="sign-in-label control-label" >TDVL First Passed Date</label>

                                                <div class="input-group controls input-append date form_date" data-date=""
                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                    <input ng-model="signin_s.TVDLIssue" type="text" class="form-control datepicker" id="TVDLIssue" autocomplete="off"
                                                           placeholder="example:1990-01-01">
                                                </div>

                                            </div>
                                            <!--TDVL First Issue Date end-->
                                            <div ng-if="inputState.TVDLIssue == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.TVDLIssueMsg}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--TDVL Expiry Date-->
                                            <div class="form-group {{inputState.TVDLExpiry}}">
                                                <label for="TVDLExpiry" class="sign-in-label control-label">TDVL Expiry Date</label>
                                                <div class="input-group controls input-append date form_date" data-date=""
                                                     data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                                    <input ng-model="signin_s.TVDLExpiry" type="text" class="form-control datepicker" id="TVDLExpiry" autocomplete="off"
                                                           placeholder="example:1990-01-01">
                                                </div>

                                            </div>
                                            <!--TDVL Expiry Date end-->
                                            <div ng-if="inputState.TVDLExpiry == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.TVDLExpiryMsg}}
                                            </div>
                                        </div>

                                    </div>
                                    <!--<div class="row">-->
                                    <!--<div ng-show="signin_s.LicenseType=='1'||signin_s.LicenseType=='0'" class="col-md-5 col-md-offset-1 col-xs-12">-->
                                    <!--&lt;!&ndash;PDVL First Issue Date&ndash;&gt;-->
                                    <!--<div class="form-group">-->
                                    <!--<label class="sign-in-label" >PDVL First Issue-->
                                    <!--Date</label>-->

                                    <!--<div class="input-group controls input-append date form_date" data-date=""-->
                                    <!--data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">-->
                                    <!--<span class="input-group-addon">-->
                                    <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                    <!--</span>-->
                                    <!--<input ng-model="signin_s.PVDLIssue" type="text" class="form-control datepicker" id="PVDLIssue"-->
                                    <!--readonly>-->
                                    <!--</div>-->

                                    <!--</div>-->
                                    <!--&lt;!&ndash;PDVL First Issue Date end&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div ng-show="signin_s.LicenseType=='1'||signin_s.LicenseType=='0'" class="col-md-5 col-xs-12">-->
                                    <!--&lt;!&ndash;PDVL Expiry Date&ndash;&gt;-->
                                    <!--<div class="form-group">-->
                                    <!--<label class="sign-in-label" >PDVL Expiry Date</label>-->
                                    <!--<div class="input-group controls input-append date form_date" data-date=""-->
                                    <!--data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">-->
                                    <!--<span class="input-group-addon">-->
                                    <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                    <!--</span>-->
                                    <!--<input ng-model="signin_s.PVDLExpiry" type="text" class="form-control datepicker" id="PVDLExpiry"-->
                                    <!--readonly>-->
                                    <!--</div>-->

                                    <!--</div>-->
                                    <!--&lt;!&ndash;PDVL Expiry Date end&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--NRIC, Driving License, TDVL (Front)-->
                                            <div class="form-group {{inputState.signInFileFront}}">
                                                <label for="signInFileFront" class="sign-in-label control-label" >{{msgAboutPic}}
                                                    (Front)</label>
                                                <div class="sign-in-modal">
                                                    <a data-toggle="modal" data-target="#modalTdvlPhoto">(Guidelines)</a>
                                                </div>
                                                <div class="sign-in-file">
                                                    <input type="file"  id="signInFileFront">
                                                    <img height="140px" id="signInFileFrontImg" class="margin-top-10" style="display: none"/>
                                                </div>
                                            </div>
                                            <!--NRIC, Driving License, TDVL (Front) end-->
                                            <div ng-if="inputState.signInFileFront == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.signInFileFrontMsg}}
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-xs-12">
                                            <!--NRIC, Driving License, TDVL (Back)-->
                                            <div class="form-group {{inputState.signInFileBack}}">
                                                <label for="signInFileBack" class="sign-in-label control-label" >{{msgAboutPic}}
                                                    (Back)</label>
                                                <div class="sign-in-modal">
                                                    <a data-toggle="modal" data-target="#modalTdvlPhoto">(Guidelines)</a>
                                                </div>
                                                <div class="sign-in-file">
                                                    <input type="file" id="signInFileBack" >
                                                    <img height="140px" id="signInFileBackImg" class="margin-top-10" style="display: none"/>
                                                </div>
                                            </div>
                                            <!--NRIC, Driving License, TDVL (Back) end-->
                                            <div ng-if="inputState.signInFileBack == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.signInFileBackMsg}}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <!--MugShot-->
                                            <div class="form-group {{inputState.signInMugShot}}">
                                                <label  for="signInMugShot" class="control-label">Frontal View</label>
                                                <input type="file"  id="signInMugShot">
                                                <img height="140px" id="signInMugShotImg" class="margin-top-10" style="display: none"/>
                                            </div>
                                            <!--MugShot End-->
                                            <div ng-if="inputState.signInMugShot == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.signInMugShotMsg}}
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-xs-12" ng-show="signin_s.LicenseType==0">
                                            <!--PDVLLetter-->
                                            <div class="form-group {{inputState.PDVLLetter}}">
                                                <label for="PDVLLetter" class="control-label">PDVL Letter</label>
                                                <input type="file"  id="PDVLLetter" >
                                                <img height="140px" id="PDVLLetterImg" class="margin-top-10" style="display: none"/>
                                            </div>
                                            <!--PDVLLetter end-->
                                            <div ng-if="inputState.PDVLLetter == 'has-error'" style="color: #a94442;font-size: 14px;margin-bottom: 6px">
                                                <i class = "fa fa-exclamation"></i> &nbsp;&nbsp;{{inputState.PDVLLetterMsg}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-xs-12">
                                            <div class="form-group">
                                                <div class="agreeMe">
                                                    <label>
                                                        <input ng-model="appContext.isAgreeMe" type="checkbox">
                                                        I agree to the <a href="#/terms" target="_blank">terms and
                                                        conditions</a>
                                                        as stated in the website.
                                                    </label>
                                                </div>
                                            </div>
                                            <!--Submit-->
                                            <div class="form-group" style="margin-top: 20px">
                                                <button type="submit" ng-click="isConfirmToSubmit()" class="btn btn-yellow btn-block" id="signInSubmit" style="font-weight: bold">
                                                    Register
                                                </button>
                                            </div>
                                            <!--Submit end-->
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-xs-12 margin-top-20">
                                        <div class="zhanwei-tishi" ng-if="!errorState"></div>
                                        <div ng-if="errorState" ng-bind="errorMsg" class="error-tishi"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <div ng-show="isConfirmSub" class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                    <div class="my-box my-box-top-border margin-top-20 margin-bottom-20">
                        <div class="box-header">
                            <div class="box-corner">
                                <button class="btn" data-toggle="collapse" data-target="#isme" aria-controls="isme"
                                        aria-expanded="true">
                                    <i class="glyphicon"></i>
                                </button>
                            </div>
                            <h4 class="box-header-title"><i class="glyphicon"></i>&nbsp;Personal Information Confirmation</h4>
                        </div>
                        <div class="box-body collapse in my-box-boundary" id="isme">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-no-border profile-ps" style="margin-bottom: 0">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Email</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.Email}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Name</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.Name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>NRIC</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.NRIC}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Handphone</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.Phone}}
                                            </td>
                                        </tr>
                                        <tr ng-if="signin_s.ReferralCode != ''">
                                            <td class="left">
                                                <strong>Referral Code</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.ReferralCode}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Registering For</strong>
                                            </td>
                                            <td class="right">
                                                {{appContext.LicenseTypes[signin_s.LicenseType].CertificateTypeName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Gender</strong>
                                            </td>
                                            <td class="right">
                                                {{appContext.Genders[signin_s.Gender - 1].Gender}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Race</strong>
                                            </td>
                                            <td class="right">
                                                 {{appContext.Races[signin_s.Race - 1].Race}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Education Level</strong>
                                            </td>
                                            <td class="right">
                                                {{appContext.EducationLevel[signin_s.EducationLevel - 1].EducationLevel}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-no-border profile-ps" style="margin-bottom: 0">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Postal Code</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.PostalCode}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Salutation</strong>
                                            </td>
                                            <td class="right">
                                                {{appContext.Salutations[signin_s.Salutation - 1].Salutation}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Nationality</strong>
                                            </td>
                                            <td class="right">
                                                {{appContext.Nationalities[signin_s.Nationality - 1].Nationality}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Marital Status</strong>
                                            </td>
                                            <td class="right">
                                                {{appContext.MaritalStatus[signin_s.MaritalStatus -1].MaritalStatus}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Address</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.Address}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Date of Birth</strong>
                                            </td>
                                            <td class="right">
                                               {{signin_s.DateOfBirth}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Driving License Passed Date</strong>
                                            </td>
                                            <td class="right">
                                                 {{signin_s.LicenseIssueDate}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>TDVL First Passed Date</strong>
                                            </td>
                                            <td class="right">
                                                {{signin_s.TVDLIssue}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>TDVL Expiry Date</strong>
                                            </td>
                                            <td class="right">
                                               {{signin_s.TVDLExpiry}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <table class="table table-no-border profile-ps" style="margin-bottom: 0">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>{{msgAboutPic}} (Front)</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="right">
                                                <img height="140px" name="signInFileFront" class="margin-top-10" style="display: none"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>{{msgAboutPic}} (Back)</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="right">
                                                <img height="140px" name="signInFileBack" class="margin-top-10" style="display: none"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-no-border profile-ps" style="margin-bottom: 0">
                                        <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Frontal View</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="right">
                                                <img height="140px" name="signInMugShot" class="margin-top-10" style="display: none"/>
                                            </td>
                                        </tr>
                                        <tr ng-show="signin_s.LicenseType==0">
                                            <td class="left">
                                                <strong>PDVL Letter</strong>
                                            </td>
                                        </tr>
                                        <tr ng-show="signin_s.LicenseType==0">
                                            <td class="right">
                                                <img height="140px" name="PDVLLetter" class="margin-top-10" style="display: none"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="my-box-boundary text-right" style="padding: 15px 0">
                                <a class="btn btn-yellow" role="button" ng-click="isConfirmToSubmit()"><b>BACK</b></a>
                                <a class="btn btn-yellow" role="button" ng-click="sub()"><b>SUBMIT</b></a>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>


    </div>
</div>

<!--注册表结尾-->

<!--模态框-->
<div class="example-modal">
    <div class="modal modal-default fade" id="modalTdvlPhoto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-tribecar modal-header-bg-color">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="update_title">Before Registration</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <p style="font-size: 18px" >Take photos of the documents both front and back based on the layout below.</p>
                    <a href="https://padlet.com/tsasmrt/Bookmarks" target="_blank">
                        <img ng-src="img/tdvl.jpg" alt="Layout"/>
                    </a>
                    <p style="margin-top: 20px;line-height: 24px;font-size: 20px">
                        Please see the <a href="https://padlet.com/tsasmrt/Bookmarks" target="_blank"><b>link</b></a> and complete the assessment of the questions (2 sets).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--模态框结尾-->


<script>
    $('.form_date').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });



    bindImgShow('signInFileFront');
    bindImgShow('signInFileBack');
    bindImgShow('signInMugShot');
    bindImgShow('PDVLLetter');

    function bindImgShow(name) {
        $("#"+name).bind('change',function(){
            var file=$("#"+name).get(0).files[0];
            if(!file){
                $('#' + name + 'Img').css('display', 'none');
                $("img[name='" + name +"']").css('display', 'none');
                return;
            }
            var url=getObjectURL(file);
            if(url != null){
                $('#'+name+'Img').attr('src',url);
                $('#'+name+'Img').css('display','block');
                $("img[name='" + name +"']").attr('src',url);
                $("img[name='" + name +"']").css('display', 'block');
            }else{
                $('#'+name+'Img').css('display','none');
                $("img[name='" + name +"']").css('display', 'none');
            }
        });
    }


    //建立一個可存取到該file的url
    function getObjectURL(file) {
        var url = null ;
        // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
</script>