






<!--注册第一步-->
<div class="signin-first signin-first-bg">

    <div class="step  container" style="background-color: rgba(255,255,255,0.9);" >
        <div class="row" >
            <div class="col-xs-11 col-xs-offset-1 ">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="media active">
                            <div class="media-left">
                                <a>
                                    <img class="media-object" src="img/1_red.png" alt="1">
                                </a>
                            </div>
                            <div class="media-body  hidden-xs hidden-sm">
                                <h4 class="media-heading" style="margin-top: 10px">First Step</h4>
                                <p>Basic Information</p>
                            </div>
                            <div class="media-right  hidden-xs" style="">
                                <a>
                                    <img class="media-object" src="img/next_red.png" alt="next">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 ">
                        <div class="media ">
                            <div class="media-left">
                                <a>
                                    <img class="media-object" src="img/2_grey.png" alt="2">
                                </a>
                            </div>
                            <div class="media-body hidden-xs hidden-sm">
                                <h4 class="media-heading" style="margin-top: 10px">Second Step</h4>
                                <p>Personal Information</p>
                            </div>
                            <div class="media-right hidden-xs" style="">
                                <a>
                                    <img class="media-object" src="img/next_grey.png" alt="next">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 ">
                        <div class="media ">
                            <div class="media-left">
                                <a>
                                    <img class="media-object" src="img/3_grey.png" alt="3">
                                </a>
                            </div>
                            <div class="media-body hidden-xs hidden-sm">
                                <h4 class="media-heading" style="margin-top: 10px">Third Step</h4>
                                <p>Assessment</p>
                            </div>
                            <div class="media-right hidden-xs" style="padding-left: 10px">
                                <div style="width: 64px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="sign-first-big-title">
                    <h2>Sign Up Now</h2>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 ">
                <div class="sign-in-background">

                    <form class=" signin-first-form form-horizontal row">

                        <!--Email-->
                        <div ng-show="appContext.userMsg.UserStatus!='Fail'" class="row">
                            <div class="form-group">
                                <label for="Email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.Email" type="text" class="form-control" id="Email" ng-blur="EmailBlur()"
                                           autocomplete="off"
                                           placeholder="Your email address as login account">
                                </div>
                                <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.emailSpan}}">&nbsp;{{errorMsg.emailMsg}}</span>
                            </div>
                        </div>
                        <!--Email end-->
                        <div ng-show="appContext.userMsg.UserStatus!='Fail'" class="row">
                            <div class="form-group">
                                <label for="Password" class="col-md-3 control-label">Password</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.Password" type="text" class="form-control" id="Password" ng-blur="PasswordBlur()"
                                           autocomplete="new-password" flag="password"
                                           placeholder="As a login password">
                                </div>
                                <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.passwordSpan}}">&nbsp;{{errorMsg.passwordMsg}}</span>
                            </div>
                        </div>
                        <div ng-show="appContext.userMsg.UserStatus!='Fail'"class="row">
                            <div class="form-group">
                                <label for="PasswordAgain" class="col-md-3 control-label">Confirm password</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.PasswordAgain" type="text" class="form-control" id="PasswordAgain" ng-blur="PasswordAgainBlur()"
                                           autocomplete="new-password"  flag="password"
                                           placeholder="Input login password again">
                                </div>
                                <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.passwordAgainSpan}}">&nbsp;{{errorMsg.passwordAgainMsg}}</span>
                            </div>
                        </div>
                        <!--Name-->
                        <div class="row">
                            <div class="form-group">
                                <label for="Name" class="col-md-3 control-label">Name</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.Name" type="text" class="form-control" id="Name" autocomplete="off"  ng-blur="NameBlur()"
                                           placeholder="Your Full Name">
                                </div>
                                <span class="tishi-msg col-md-3  col-xs-12 glyphicon {{errorMsg.NameSpan}}">  {{errorMsg.NameMsg}}</span>
                            </div>
                        </div>
                        <!--Name end-->

                        <!--NRIC-->
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="NRIC">NRIC</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.NRIC" type="text" class="form-control" id="NRIC" autocomplete="off"  ng-blur="NRICBlur()"
                                           placeholder="Input your NRIC number">
                                </div>
                                <span class="tishi-msg col-md-3  col-xs-12 glyphicon {{errorMsg.NRICSpan}}">&nbsp;{{errorMsg.NRICMsg}}</span>
                            </div>
                        </div>
                        <!--NRIC end-->

                        <!--Handphone-->
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="Phone">Handphone</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.Phone" type="text" class="form-control" id="Phone" autocomplete="off" ng-blur="PhoneBlur()"
                                           placeholder="Your mobile number">
                                </div>
                                <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.PhoneSpan}}">&nbsp;{{errorMsg.PhoneMsg}}</span>
                            </div>
                        </div>
                        <!--Handphone end-->
                        <!--Referral Code-->
                        <div ng-show="appContext.userMsg.UserStatus!='Fail'" class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="ReferralCode">Referral Code</label>
                                <div class="col-md-6">
                                    <input ng-model="signin_f.ReferralCode" type="text" class="form-control" id="ReferralCode" autocomplete="off"
                                           placeholder="Referral code if have">
                                </div>
                                <span class="tishi-msg col-md-3 col-xs-12 glyphicon {{errorMsg.ReferralCodeSpan}}">&nbsp;{{errorMsg.ReferralCodeMsg}}</span>
                            </div>
                        </div>
                        <!--Referral Code end-->
                        <div class="row">
                            <div class="form-group">
                                <div class=" col-md-offset-3 col-md-6 col-xs-12">
                                    <button ng-click="signIn()"  class="btn btn-yellow col-xs-12" style="font-weight: bold">Next</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>



</div>
<!-- 注册第一步结尾-->
<script>
$(function () {
    $("[flag='password']").bind('input propertychange', function(e) {
        //取消事件的默认动作
        e.preventDefault();
        $(this).attr("type","password");
    });
});


</script>